 
 
 #login {
   background-color: #77B0C5;
   border-radius: 8px;
   box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
   -moz-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
   -webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
   margin-left: auto;
   margin-right: auto;
   margin-top: 1%;
   max-width: 30em;
   padding-bottom: 20px;
   padding-top: 10px;
}
@media(max-width: 400px){
   .login{
      width: :90%;
   }
   }
/* Campos del formulario */
input[type="text"],
input[type="password"] {
   border: none;
   border-radius: 6px;
   display: block;
   font-size: 1.5em;
   font-family: Baskerville Old Face;
   height: 2em;
   text-align: center;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 15px;
}
input:focus{
   border: none;
   background: #EFDFEF;
}
 
input[type="submit"],
input[type="reset"] {
   background-color: #A3A0A2;
   border: none;
   border-radius: 6px;
   color: white;
   display: block;
   font-size: 1em;
   font-family: Bookman Old Style;
   height: 3em;
   margin-left: auto;
   margin-right: auto;
   margin-top: 15px;
   text-align: center;
   width: 150px;

}
 
input[type="submit"]:hover,
input[type="reset"]:hover {

   cursor: pointer;

   background-color: #55f50b;

   opacity: 0.8;

}
